<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/head'); %>
    <title>Página Inicial</title>
</head>
<body>
    <%- include('./partials/header'); %>

    <main>
        <p>Olá!</p>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>
    
    <%- include('./partials/scripts'); %>
</body>
</html>